.promo-item__img {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}
    .promo-item__img img {display: block;}

    .promo-item__date,
    .promo-item__date .item__date {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
        color: #fff;
        line-height: 1;
    }
    .promo-item__date {
        position: absolute;
        left: 0;
        bottom: 45px;
        background: #f05b25;
        padding: 13px 30px 13px 24px;
        border-radius: 0 4px 23px 0;
        transition: .2s;
    }
    .promo-item:hover .promo-item__date {padding-left: 30px;}
    .promo-item__date .item__date {text-align: left;}
        .promo-item__date .item__date b {
            font-size: 36px;
            line-height: 31px;
            font-weight: 300;
            margin-right: 10px;
        }
        .promo-item__date .item__date span {
            display: block;
            font-size: 14px;
        }
        .item__date--right {
            margin-left: 13px;
            padding-left: 40px;
            position: relative;
        }
            .item__date--right:before {
                height: 1px;
                width: 27px;
                background: #fff;
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                content: "";
            }
    .promo-item__detail {
        border: 1px solid #e5e8eb;
        border-left: 0;
        border-radius: 0 5px 5px 0;
        padding: 37px 30px !important;
    }
        .promo-item__name {
            margin: 0 0 26px;
        }
            .promo-item__name a {
                text-decoration: none;
                font-size: 36px;
                font-weight: 300;
                color: #f05b25;
            }
        .promo-item__preview {
            font-size: 18px;
            font-weight: 300;
        }
            
@media (max-width: 992px) {
    .promo-item__img {
        border-radius: 5px 5px 0 0;
    }
        .promo-item__img img { width: 100%; height: auto;}
    .promo-item__detail {
        border: 1px solid #e5e8eb;
        border-radius: 0 0 5px 5px;
        padding: 20px 15px !important;
    }
}
@media (max-width: 767px) {
    .promo-item__name {margin-bottom: 16px;}
    .promo-item__name a {
        font-size: 20px;
    }
    .promo-item__preview {
        font-size: 16px;
    }
}